<div class="mt-5 container p-5 bg-white shadow rounded branches-container">
    <h1 class="text-center text-muted mb-4 display-6 border-bottom pb-2 animate-fade-in">الموظفين</h1>
  
    <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-outline-primary px-4 py-2 animate-pop" [routerLink]="[0, 'edit']">
        <i class="fas fa-plus me-2"></i> إضافة موظف 
      </button>
    </div>
  
    <div class="table-responsive">
      <table class="table table-hover align-middle text-center animate-slide-up">
        <thead class="table-light">
          <tr>
            <th scope="col">المعرف</th>
            <th scope="col">الاسم</th>
            <th scope="col">البريد الالكتروني</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">الفرع</th>
            <th scope="col">  الصلاحيات</th>
            <th scope="col">العمليات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <th scope="row">{{ employee.id }}</th>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phoneNumber}}</td>
            <td>{{ employee.branchName }}</td>
            <td>{{ employee.groupName }}</td>

            <td>
              <i class="text-info fs-5 mx-2 fas fa-pencil-alt cursor-pointer" [routerLink]="['/employees', employee.id, 'edit']" title="تعديل"></i>
              <i class="text-danger fs-5 mx-2 fas fa-trash cursor-pointer" (click)="deleteHandler(employee.id)" title="حذف"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  