<div class="p-4 border rounded shadow bg-light mt-4">
    <h3 class="mb-3 text-primary">تعديل الصلاحية</h3>
  
    <form [formGroup]="editForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label class="form-label">اسم المجموعة</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
  
      <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
          <thead class="table-primary">
            <tr>
              <th>الصلاحية</th>
              <th *ngFor="let action of allPermissions[0]?.actions">{{ action }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perm of allPermissions">
              <td>{{ perm.permissionName }}</td>
              <td *ngFor="let action of perm.actions">
                <input type="checkbox"
                       [checked]="isChecked(perm.permissionName, action)"
                       (change)="toggleAction(perm.permissionName, action, $event)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <button type="submit" class="btn btn-success mt-3">حفظ التعديل</button>
    </form>
  </div>
  