<div class="container p-4 mt-5">
    <h1>    {{ weightId == 0 ? "Add New weight" : "Edit weight" }} </h1>
    <form [formGroup]="weightForm" (submit)="branchHandler()">
        <div>
            <label for="defaultWeight"></label>
            <input type="text" class="form-control" id="defaultWeight" aria-describedby="emailHelp"
            placeholder="Enter branch Name"
            formControlName="DefaultWeight" />
    
            <div *ngIf="getDefaultWeight.touched">
                <div *ngIf="getDefaultWeight.hasError('required')">
                  <div id="emailHelp" class="form-text text-danger">
                    default Weight is required
                  </div>
                </div>
            </div>
              
        </div>

        <div>
            <label for="additionalPrice"></label>
            <input type="text" class="form-control" id="additionalPrice" aria-describedby="emailHelp"
            placeholder="Enter additional price"
            formControlName="AdditionalPrice" />
    
            <div *ngIf="getAdditionalPrice.touched">
                <div *ngIf="getAdditionalPrice.hasError('required')">
                  <div id="emailHelp" class="form-text text-danger">
                    additional Price is required
                  </div>
                </div>
            </div>
              
        </div>
    
    
       
    
        <p class="lead mt-2">{{ weightForm.value | json }}</p>
    
        <div class="mb-3 mt-4 d-flex justify-content-start">
          <button type="submit" class="btn btn-dark btn-md w-auto px-4 py-2 mx-2">
            {{ weightId == 0 ? "Add New weight" : "Edit weight" }}
          </button>
          
          <a class="btn btn-outline-dark btn-md w-auto px-4 py-2 mx-2"
            [routerLink]="['/weights']">
            Back to list
          </a>
        </div>
    </form>
    
</div>