<div class="container p-4 mt-5 bg-white shadow rounded city-form-container animate-fade-in">
    <h1 class="mb-4 border-bottom pb-2 display-6 text-center">
      {{ representId == 0 ? "إضافة مندوب " : "تعديل مندوب" }}
    </h1>
  
    <form [formGroup]="represntForm" (submit)="reprsntHandler()" novalidate>
  
      <!-- اسم المندوب -->
      <div class="mb-3">
        <label for="merchantName" class="form-label fw-bold">اسم المندوب</label>
        <input type="text"  class="form-control"  id="merchantName" placeholder="أدخل اسم المندوب"
               formControlName="Name"/>

        <div *ngIf="getName.touched">
          <small *ngIf="getName.hasError('required')" class="text-danger">
            اسم المندوب مطلوب
          </small>
          <small *ngIf="getName.hasError('minlength')" class="text-danger">
            اسم المندوب يجب أن يكون أطول من ٣ أحرف
          </small>
          <small *ngIf="errorMessages.Name" class="text-danger">
            {{ errorMessages.Name }}
          </small>
        </div>
      </div>
  
      <!-- البريد الالكتروني  -->
      <div class="mb-3">
        <label for="Email" class="form-label fw-bold"> البريد الالكتروني </label>
        <input type="text" class="form-control" id="Email" placeholder="أدخل البريد الالكتروني" formControlName="Email" />
      
        <div *ngIf="getEmail.touched || getEmail.dirty">
          <small *ngIf="getEmail.hasError('required')" class="text-danger">
            البريد الالكتروني مطلوب
          </small>
      
          <small *ngIf="getEmail.hasError('email')" class="text-danger">
            البريد الالكتروني غير صالح
          </small>
    
          <small *ngIf="errorMessages.Email" class="text-danger">
            {{ errorMessages.Email }}
          </small>
        </div>
      </div>

      <!--كلمه المرور -->
      <div class="mb-3">
        <label for="pass" class="form-label fw-bold"> كلمه المرور </label>
        <input type="password"  class="form-control"  id="pass" placeholder="أدخل كلمه المرور  "
              formControlName="Password"/>   
              <div *ngIf="getPass.touched || getPass.dirty">
                <small *ngIf="getPass.hasError('required')" class="text-danger">
                  كلمة المرور مطلوبة
               </small>
                <small *ngIf="getPass.hasError('minlength')" class="text-danger">
                  كلمة المرور يجب ألا تقل عن 6 أحرف.
                </small>
                <small *ngIf="getPass.hasError('pattern') && !getPass.hasError('minlength')" class="text-danger">
                  كلمة المرور يجب أن تحتوي على حرف كابيتال ورقم ورمز خاص.
                </small>
               </div>
      </div>

      <!-- الفرع -->
      <div class="mb-3">
        <label for="branch" class="form-label fw-bold"> الفرع</label>
        <select id="branch" class="form-select" formControlName="BranchId">
          <option value="">-- اختر الفرع --</option>
          <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
        </select>
        <div
          *ngIf="represntForm.controls['BranchId'].touched && represntForm.controls['BranchId'].hasError('required')"
          class="text-danger mt-1">
          اختيار الفرع مطلوب
        </div>
      </div>

      <!-- المحافظات -->
      <div class="mb-3">
        <label for="governorate" class="form-label fw-bold">المحافظات</label>
        <select id="governorate" class="form-select" formControlName="GovernorateIds" multiple>
          <option *ngFor="let gov of governs" [value]="gov.id">{{ gov.name }}</option>
        </select>
        <div
          *ngIf="represntForm.controls['GovernorateIds'].touched && represntForm.controls['GovernorateIds'].hasError('required')"
          class="text-danger mt-1">
          اختيار محافظة واحدة على الأقل مطلوب
        </div>
      </div>


      <!--رقم الهاتف  -->
      <div class="mb-3">
        <label for="PhoneNumber" class="form-label fw-bold">رقم الهاتف  </label>
        <input type="text" class="form-control" id="PhoneNumber" placeholder="أدخل رقم الهاتف "
          formControlName="Phone"/>

        <div *ngIf="getPhoneNum.touched && getPhoneNum.hasError('required')" class="text-danger mt-1">
            رقم الهاتف   مطلوبة
        </div>

        <small *ngIf="getPhoneNum.hasError('pattern')" class="text-danger">
          رقم التليفون غير صالح، برجاء إدخال رقم صحيح.
        </small>
      </div>

      <!-- العنوان  -->
      <div class="mb-3">
        <label for="address" class="form-label fw-bold">   </label>
        <input type="text"  class="form-control"  id="address" placeholder="أدخل العنوان  "
               formControlName="Address"/>
               
        <div *ngIf="getAddress.touched">
          <small *ngIf="getAddress.hasError('required')" class="text-danger">
            رقم  العنوان
          </small>
        </div>
      </div>

        
  
      <!-- التكلفة -->
      <div class="mb-3">
        <label for="PickUp" class="form-label fw-bold">تكلفة خاصه</label>
        <input type="text" class="form-control" id="PickUp" placeholder="أدخل تكلفة pickup خاصه"
          formControlName="Amount"/>
      </div>
  
        

  
      <div class="d-flex justify-content-start mt-4">
        <button type="submit" class="btn btn-success px-4 py-2 mx-2 animate-pop">
          {{ representId == 0 ? "إضافة مندوب" : "تحديث البيانات" }}
        </button>
  
        <a
          class="btn btn-outline-secondary px-4 py-2 mx-2 animate-pop"
          [routerLink]="['/Representatives']"
        >
          الرجوع للقائمة
        </a>
      </div>
    </form>
  </div>
  