<div class="container p-4 mt-5 bg-white shadow rounded city-form-container animate-fade-in">
  <h1 class="mb-4 border-bottom pb-2 display-6 text-center">
    {{ cityId == 0 ? "إضافة مدينة جديدة" : "تعديل المدينة" }}
  </h1>

  <form [formGroup]="cityForm" (submit)="cityHandler()" novalidate>

    <!-- اسم المدينة -->
    <div class="mb-3">
      <label for="cityName" class="form-label fw-bold">اسم المدينة</label>
      <input
        type="text"
        class="form-control"
        id="cityName"
        placeholder="أدخل اسم المدينة"
        formControlName="Name"
      />
      <div *ngIf="getName.touched">
        <small *ngIf="getName.hasError('required')" class="text-danger">
          اسم المدينة مطلوب
        </small>
        <small *ngIf="getName.hasError('minlength')" class="text-danger">
          اسم المدينة يجب أن يكون أطول من ٣ أحرف
        </small>
      </div>
    </div>

    <!-- المحافظة -->
    <div class="mb-3">
      <label for="governorate" class="form-label fw-bold">المحافظة</label>
      <select id="governorate" class="form-select" formControlName="GovernorateId">
        <option value="">-- اختر المحافظة --</option>
        <option *ngFor="let gov of governorates" [value]="gov.id">{{ gov.name }}</option>
      </select>
      <div
        *ngIf="cityForm.controls['GovernorateId'].touched && cityForm.controls['GovernorateId'].hasError('required')"
        class="text-danger mt-1"
      >
        اختيار المحافظة مطلوب
      </div>
    </div>

    <!-- التكلفة -->
    <div class="mb-3">
      <label for="cityPrice" class="form-label fw-bold">تكلفة الشحن</label>
      <input
        type="text"
        class="form-control"
        id="cityPrice"
        placeholder="أدخل تكلفة الشحن"
        formControlName="Price"
      />
      <div *ngIf="getPrice.touched && getPrice.hasError('required')" class="text-danger mt-1">
        تكلفة الشحن مطلوبة
      </div>
    </div>

    <!-- تكلفة الاستلام -->
    <div class="mb-3">
      <label for="cityPickup" class="form-label fw-bold">تكلفة الاستلام</label>
      <input
        type="text"
        class="form-control"
        id="cityPickup"
        placeholder="أدخل تكلفة الاستلام"
        formControlName="Pickup"
      />
    </div>


    <div class="d-flex justify-content-start mt-4">
      <button type="submit" class="btn btn-success px-4 py-2 mx-2 animate-pop">
        {{ cityId == 0 ? "إضافة المدينة" : "تحديث البيانات" }}
      </button>

      <a
        class="btn btn-outline-secondary px-4 py-2 mx-2 animate-pop"
        [routerLink]="['/cities']"
      >
        الرجوع للقائمة
      </a>
    </div>
  </form>
</div>
